<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <% if logged_in? %>
    <p><%= current_user.username %></p>
    <%= button_to 'Logout', session_url, method: :delete %>
  <% end %>
  
  <br>
  <br>

  <%= yield %>

</body>
</html>
